html {
  color: #cbc5a2;
  font-size: 1.35em;
  line-height: 1.5;

  font-family: "Roboto Slab", serif;
  /* font-optical-sizing: auto; */
  font-weight: 500;
  font-style: normal;

  background-color: #0e0e0e;

  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

main {
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-size: 1.75em;
  padding: 40px 20px 0px 20px;
  margin: 0;
  text-align: center;
  color: #dd4a4a;
}

h1 > p {
  text-align: center;
}

h2 {
  font-size: 1.35em;
  text-align: center;
  padding: 80px 20px 20px 20px;
  margin: 0;
  color: #dd4a4a;

  /* border: 1px solid white; */
  /* border-top: 0px; */
  /* border-right: 0px; */
  /* border-bottom: 2px solid #dd4a4a; */
  /* border-left: 0px; */
}

h3 {
  padding: 20px 20px 20px 20px;
  margin: 0;
  color: #dd4a4a;
}

blockquote {
    margin: 20px 20px;
    background-image: linear-gradient(to right, #0e0e0e, #212016 10%, #212016 90%, #0e0e0e);
}

blockquote::before {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #cbc5a2;
}

blockquote::after {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #cbc5a2;
}

p {
  padding: 10px 20px;
  margin: 0;
}

a {
  color: #83a598;
  margin: 0;
}

span.year {
    color: #b8bb26;
}

span.respect > * {
    color: #fabd2f !important;
}

img {
  max-width: min(100%, 960px);
  padding: 0;
  margin: 0;
  border-radius: 16px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

details summary {
    cursor: pointer;
    color: #d3869b;
}

ul {
    margin-top: 0;
}

ul > li {
    margin-bottom: 20px;
}
