:root {
  --white: #ffffff;
  --black: #000000;
  --background: #0e0e0e;
  --palLight: #f5eeb0;
  --palYellowOrange: #fabf61;
  --palOrange: #e08d51;
  --palBrown: #8a5865;
  --palDark: #452b3f;
  --palDarkGreen: #2c5e3b;
  --palGreen: #609c4f;
  --palLime: #c6cc54;
  --palSkyblue: #78c2d6;
  --palBlue: #5479b0;
  --palGray: #56546e;
  --palSlateGray: #839fa6;
  --palLightGray: #e0d3c8;
  --palRed: #f05b5b;
  --palPlum: #8f325f;
  --palPink: #eb6c98;
}

html {
    color: var(--palLight);
    font-size: 1.35em;
    line-height: 1.5;

    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;

    background-color: var(--background);

    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

main {
    max-width: 960px;
    padding: 0;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 800;
}

h1 {
    font-size: 1.75em;
    padding: 40px 20px 0px 20px;
    margin: 0;
    text-align: center;
    color: var(--palRed);
}

h1 > p {
    text-align: center;
}

h2 {
    font-size: 1.35em;
    text-align: center;
    padding: 80px 20px 20px 20px;
    margin: 0;
    color: var(--palRed);
}

h3 {
    padding: 20px 20px 20px 20px;
    margin: 0;
    color: var(--palRed);
}

blockquote {
    margin: 20px 20px;
    background-image: linear-gradient(to right, #0e0e0e, #212016 10%, #212016 90%, #0e0e0e);
}

blockquote::before {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #cbc5a2;
}

blockquote::after {
    position: relative;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #cbc5a2;
}

p {
    padding: 10px 20px;
    margin: 0;
}

a {
    color: var(--palSkyblue);
    margin: 0;
}

img {
    max-width: min(100%, 960px);
    padding: 0;
    margin: 0;
    border-radius: 16px;
}

summary {
    cursor: pointer;
    color: var(--palYellowOrange);
    background-color: var(--palDark);
    border-radius: 8px;
}

summary:hover {
    color: var(--palLight);
    background-color: var(--palBrown);
}

details {
    background-color: var(--background);
    border: solid 2px var(--palYellowOrange);
    border-radius: 8px;
}

ul {
    margin-top: 0;
}

ul > li {
    margin-bottom: 20px;
}

strong,
strong > * {
    color: var(--palYellowOrange) !important;
}

em,
em > * {
    color: var(--palOrange);
    font-style: normal;
}
